.app {
  display: block;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
  box-sizing: border-box;
}

.header{
  padding: 20px 0; 
  background-color: #445560;
  color: #ffffff;
}

.fooder{
  padding: 20px 0;  
  background-color: #445560;
  color: #ffffff;
}

.container{
  display: flex;
  min-height: 740px;
}

.main{
  display: grid;
  width: calc(100% - 200px);
}

.content{
  min-width: 400px;
  max-width: 90%;
  margin: 20px auto 20px auto;
}

/* user-list */
.user-list{
  font-size: 20px;
}

.user-list ul {
  text-align: left;
  min-height:540px;
}

.user-list ul li {
  display: grid;
  margin-right: 4em;
  margin-bottom: 4em;
  margin-top: 4em
}

.user-list ul li a {
  text-decoration: none;
}

/* user */
.user {
  margin-bottom: 40px;
}

.user ul {
  text-align: left;
  margin-left: 2em;
}

.user ul li{
  margin-bottom: 2em;
}

/* user-editer */
.user-editer{
  display: flex;
  text-align: center;
  justify-content: center;
}

.user-editer  ul {
  text-align: left;
  margin-left: 2em;
}

.user-editer  ul li{
  margin-bottom: 4em;
}

.user-editer  ul li  ul li{
  margin-bottom: 1em;
}

.redirect-button{
  margin-left: 10px;
  margin-top: 20px;
}

.register-input{
  margin: 20px 0;
} 

/* Sidebar */
.sidebar {
  width: 250px;
  background: #2d445d;
}

.sidebar-list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebar-list .row {
  background: #2d445d;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.sidebar-list .row :hover {
  cursor: pointer;
  background-color: #3b627a;
}

.sidebar-list #active {
  background-color: #3b627a;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  margin-right: 2em;
}

.sidebar-my-icon {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.sidebar-my-icon img {
  width: 100px;
}

.sidebar-my-icon p {
  color: white;
  font-weight: 600;
  font-size: 13px;
}