.app {
  display: block;
  font-family: sans-serif;
  text-align: center;
  background-color: #ffffff;
}

.fooder{
  padding: 20px 0;
  background-color: rgb(144, 144, 144);
  text-align: left;
}

.header{
  padding: 20px 0;
  background-color:  rgb(144, 144, 144);
  text-align: left;
}

.container{
  display: flex;
  width: 100%;
  min-height: 680px;
  text-align: center;
  justify-content: center;
}

.main{
  display: grid;
  width: calc(100% - 200px);
  text-align: center;
  justify-content: center;
}

.content{
  display: block;
  text-align: left;
  padding: 100px 0;
}

.nav-bar {
  display: flex;
  max-width: 200px;
  font-size: 20px;
  font-family: arial;
  background-color: #424242;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
}

.nav-bar ul li {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.nav-bar ul li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(203, 203, 203);
}

.user-list{
  font-size: 24px;
}

.user-list ul {
  text-align: left;
  justify-content: left;
  margin-right: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.user-list ul li {
  display: grid;
  margin-right: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.user-list ul li:hover {
  background-color: rgb(219, 219, 219);
}

.user-list ul li a {
  text-decoration: none;
}